@import "../styles/variables.module.scss";

.navbar {
  color: black;
  display: flex;
  justify-content: space-between;
}

.navItem {
  padding: 20px;
  font-weight: 500;
  transition: all 0.4s ease;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  height: fit-content;
}

.navName {
  padding: 20px 20px 0 20px;
  font-weight: 500;
  transition: all 0.4s ease;
  font-size: 40px;
}

.navDescription {
  padding: 0 20px 20px 20px;
  font-weight: 500;
  transition: all 0.4s ease;
  font-size: 20px;
}

.navItem:hover{
  color: $nav-hover-color;
}

.endNav{
  z-index: 1;
  display: flex;
}
